  <main class="home">
    ${require('./slider.html')}

     <section class="call-bar">
        <div class="fx">
            <div class="fx-phone">
                 <img src="../images/red-phone-icon-2.png"> 

                <a href="tel:18009218101">1.800.921.8101 </a>
            </div>
        </div>
    </section>

    <section class="l-bg bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Come Over to the Light Side</h3>
                    <p>It&rsquo;s important to have connections you can count on. Whether it&rsquo;s watching the game of the week, shopping online, streaming your favorite series, or gaming with friends, FiOS<sup>&reg;</sup> by Frontier is the best equipped
                        network to handle all the devices in your home at the same time.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                     <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                    <!-- <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src='//players.brightcove.net/4821467228001/BkZGPpHw_default/index.html?videoId=5355267796001' allowfullscreen frameborder=0></iframe>
                      </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg bg-r">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Fiber Optics Changes Your Life Online</h3>
                    <p>Play, connect, post, download, stream, upload, watch. The FiOS<sup>&reg;</sup> 100% fiber-optic network withstands even the worst weather. And gives you bandwidth you need to drive all your devices. Together. All at the same time.</p>
                </div>
            </div>
        </div>

    </section>
    <section class=" bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h3>Upload as Fast as You Download</h3>
                    <p>Cable only talks about download internet speeds. But the Internet is a 2-way street, and you need fast upload speeds for everyday activities like sharing pictures and videos. So if your Internet is slow, you need fast internet speeds
                        from FiOS<sup>&reg;</sup>.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                  <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="red-bar"></div>

    <section class="bg-section voice">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/650x350" alt="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Tell us what you want</h3>
                    <p>Do you talk to your Amazon dot, Echo or tap? Now you can ask Alexa to change your channels or search your guide. She’ll listen…and act.</p>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="copyright">
            <div class="container">
                <p class="text-center">© 2017 Frontier Communications Corporation. All rights reserved.</p>
            </div>
        </div>
    </footer>

</main>
