  <main class="home">
    <section class="gallery-section">
      <div class="container">
        <h1>Welcome to FiOS! Installing your Internet Router is easy.</h1>
        <p>Before you start, you need to make sure your service is ready to connect. You can do this two ways:</p>
        <ul>
          <li><a href="#">Click here to check out your service ready date: the date your service is up</a></li>
          <li><a href="#">Find the service ready date in the confirmation email your received when you placed your FiOS order. </a></li>
        </ul>
        <br>
        <h4>If the service ready date is today or in the past, you can proceed right now. Let’s get started!</h4>
      </div>
    </section>

    <section class="galllery-steps">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/01_FiOS-Self-Install-Box_01.jpg" alt="">
              <figcaption><span class="count">1.</span> <span class="info">On top of your box there is a Quick Set-Up-Guide to help you set up your service.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/02_tips.jpg" alt="">
              <figcaption><span class="count">2.</span> <span class="info">On the Tips page is information on your Optical Network Terminal, your ONT. This is how Frontier connects Fiber service to your home. </span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/03_ong.jpg" alt="">
              <figcaption><span class="count">3.</span> <span class="info">If your last internet provider was cable or satellite, you may need to check your ONT (it may look different than this one) to make sure your home’s Coax/Ethernet is connected.</span></figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/04_FiOS-Router-Main-Box_01.jpg" alt="">
              <figcaption><span class="count">4.</span> <span class="info">We will start with the Internet Router. Your Internet router is in this box.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/05_FiOS-Router-Main-Box_03.jpg" alt="">
              <figcaption><span class="count">5.</span> <span class="info">Let’s lay everything out. There’s a router; a smaller box with the MoCA adapter; a few types of connection cables: and a splitter.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class="img-responsive text-center m-auto " src="../images/moca/06_MoCA-Adapter-Box_01.jpg" alt="">
              <figcaption><span class="count">6.</span> <span class="info">This installation is for customers that require a MoCA adapter. If you don’t have one, go to the instructions for FiOS installation without MoCA Adapter.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/07_MoCA-Adapter_03.jpg" alt="">
              <figcaption><span class="count">7.</span> <span class="info">If you have a MoCA adapter, you will also have a USB cable, inside a compartment in the small box.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/08_FiOS-Router_33.jpg" alt="">
              <figcaption><span class="count">8.</span> <span class="info">Now is a good time to flip your router over and make a note on the back of the Quick Setup Guide of your Wi-Fi name and password.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/09_FiOS-Router_29.jpg" alt="">
              <figcaption><span class="count">9.</span> <span class="info">You will need this to connect your devices, like your laptop or your tablet.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto" src="../images/moca/10_FiOS-Router-Pedestal_02.jpg" alt="">
              <figcaption><span class="count">10.</span> <span class="info">First, insert the base support into the router.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/11_FiOS-Router-Pedestal_03.jpg" alt="">
              <figcaption><span class="count">11.</span> <span class="info">Like this. Make sure your router stands vertical.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/12B_DSC_0235.jpg" alt="">
              <figcaption><span class="count">12.</span> <span class="info">Let’s start with the router installation. Lay out the MoCA Adaptor, splitter and router.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/13_Coax-Wall-Jack-Connected_07.jpg" alt="">
              <figcaption><span class="count">13.</span> <span class="info">Connect a coax cable from your coax wall jack…</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/14A_DSC_0243_00001.jpg" alt="">
              <figcaption><span class="count">14.</span> <span class="info">To the in port on the splitter.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/15A_DSC_0247_00001.jpg" alt="">
              <figcaption><span class="count">15.</span> <span class="info">From the splitter, connect one coax cable…</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/16A_DSC_0248_00001.jpg" alt="">
              <figcaption><span class="count">16.</span> <span class="info">To the MoCA adapter.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/17A_DSC_0255_00001.jpg" alt="">
              <figcaption><span class="count">17.</span> <span class="info">Connect another coax cable from the splitter…</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/18A_DSC_0260_00001.jpg" alt="">
              <figcaption><span class="count">18.</span> <span class="info">to the router. Make sure the coax cables are secured tightly.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/19A_DSC_0265_00001.jpg" alt="">
              <figcaption><span class="count">19.</span> <span class="info">Next, connect the Ethernet cable from the MoCA adapter…</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/20A_DSC_0273_00001.jpg" alt="">
              <figcaption><span class="count">20.</span> <span class="info">To the red ONT port on your router.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/21A_DSC_0277_00001.jpg" alt="">
              <figcaption><span class="count">21.</span> <span class="info">Connect the USB cord from the MoCA adapter…</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/22A_DSC_0283.jpg" alt="">
              <figcaption><span class="count">22.</span> <span class="info">To the router.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/23A_DSC_0288_00001.jpg" alt="">
              <figcaption><span class="count">23.</span> <span class="info">Now you can connect your power cord into the router.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/24_AC-Connected-Outlet_03.jpg" alt="">
              <figcaption><span class="count">24.</span>A<span class="info">nd the other end into the outlet.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/25A_DSC_0295_00001.jpg" alt="">
              <figcaption><span class="count">25.</span> <span class="info">Turn your router on. The button is right under the coax cable connection.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/26_27_28_DSC_0001_00001.jpg" alt="">
              <figcaption><span class="count">26.</span> <span class="info">The lights on your router will flash with green lights.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/26_27_28_DSC_0001_00001-glow.jpg" alt="">
              <figcaption><span class="count">27.</span> <span class="info">Your internet light will be blue. This can take a few minutes, so be patient.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/26_27_28_DSC_0001_00001.jpg" alt="">
              <figcaption><span class="count">28.</span> <span class="info">If the light is red, please call the Help Center for troubleshooting tips at 1.866.739.4319.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/29_password.jpg" alt="">
              <figcaption><span class="count">29.</span> <span class="info">Once your router is working, you will now find the Wi-Fi network name on your devices and enter the password in each of them.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/30A_DSC_0216_00001.jpg" alt="">
              <figcaption><span class="count">30.</span> <span class="info">You are all set up for your internet service!</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images/moca/31_FiOS-Router-MoCA-Connected_34.jpg" alt="">
              <figcaption><span class="count">31.</span> <span class="info">If your service includes FiOS Digital Voice, now you can connect your phone jack to from the wall, to the phone line jack on the back of your router.</span></figcaption>
            </figure>
          </div>

        </div>

    </div><!-- container -->
    </section>


</main>
