  <main class="home">
    <section class="gallery-section">
      <div class="container">
        <h1>Welcome to FiOS! Installing your Frontier TV Equipment is easy.</h1>
        <p>To set up your Frontier TV Equipment you need to have your Router set up first.</p>
        <ul>
          <li><a href="#">Click here to check out your how to install your Router.</a></li>

        </ul>
        <br>
        <h4>If the service ready date is today or in the past, you can proceed right now. Let’s get started!</h4>
      </div>
    </section>

    <section class="galllery-steps">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\01_FiOS-STB-in-Box_01.jpg" alt="">
              <figcaption><span class="count">1.</span> <span class="info">Look for the box that has a set-top box and cables.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\02_FiOS-STB-Out-of-Box_01.jpg" alt="">
              <figcaption><span class="count">2.</span> <span class="info">There are cables for connection, a cable wire, a power cord, and your FiOS remote.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\03_DSC_0201_00001.jpg" alt="">
              <figcaption><span class="count">3.</span> <span class="info">Now is a good time to make a note on your Quick Setup Guide of the number in the back of your set-top box. It’s your equipment ID in case you ever need to contact tech support.</span></figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\04A_DSC_0009.jpg" alt="">
              <figcaption><span class="count">4.</span> <span class="info">. In the box you will find an HDMI connection, and a cable for components.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">5.</span> <span class="info">Both do the same thing. Which one you use depends of the ports you have on the back of your TV.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class="img-responsive text-center m-auto " src="../images\self-intall\06A_DSC_0015.jpg" alt="replace">
              <figcaption><span class="count">6.</span> <span class="info">We will show you how to connect the HDMI. Plug one end of the cable into the HDMI labeled port on the back of the set-top box.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">7.</span> <span class="info">Connect the other end into the back of your TV, and make a note of the way the port is labeled on the TV.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">8.</span> <span class="info">. It may be Video 1 or Video 2. You will watch Frontier TV through this input on your television.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\09A_DSC_0016.jpg" alt="">
              <figcaption><span class="count">9.</span> <span class="info">Now plug one end of the coax cable into the coaxial adapter on your set-top box.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto" src="../images\self-intall\10A_DSC_0005.jpg" alt="">
              <figcaption><span class="count">10.</span> <span class="info">If you are setting up your Frontier TV equipment near your router, you can plug the cable wire into the third port in your 3-way splitter.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\11_Coax-Wall-Jack-Connected_071.jpg" alt="">
              <figcaption><span class="count">11.</span> <span class="info">If your Frontier TV equipment is in another room, plug the other end into the cable jack installed on a wall in that room.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto"  src="../images\self-intall\12A_DSC_0180_00001.jpg" alt="">
              <figcaption><span class="count">12.</span> <span class="info">Put the power cable together.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\13A_DSC_0025.jpg" alt="">
              <figcaption><span class="count">13.</span> <span class="info">And plug this end into your set top box here. </span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\14A_DSC_0051.jpg" alt="">
              <figcaption><span class="count">14.</span> <span class="info">Plug this end into your AC outlet. </span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">15.</span> <span class="info">Once it’s plugged into power your Frontier TV equipment will start automatically.</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">16.</span> <span class="info">On your TV you will see a message to press OK on your remote.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">17.</span> <span class="info">If you see an error message on the screen, follow the instructions.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\18A_DSC_0035.jpg" alt="">
              <figcaption><span class="count">18.</span> <span class="info">If you are going to install another set-top box in another room, follow the same steps you did when you connected your main Frontier TV equipment.. </span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">19.</span> <span class="info">Plug the HDMI cable into the TV…</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\20A_DSC_0037.jpg" alt="">
              <figcaption><span class="count">20.</span> <span class="info">And the set-top box.  </span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\21A_DSC_0040.jpg" alt="">
              <figcaption><span class="count">21.</span> <span class="info">And the coax cable…</span></figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">22.</span> <span class="info">… into the cable jack installed on the wall.
</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="../images\self-intall\23A_DSC_0046.jpg" alt="">
              <figcaption><span class="count">23.</span> <span class="info">Power the equipment and follow the instructions on the screen.</span></figcaption>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure>
              <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
              <figcaption><span class="count">24.</span><span class="info">You are all set up for your FiOS TV Equipment!</span></figcaption>
            </figure>
          </div>
        </div>



    </div><!-- container -->
    </section>


</main>
